body {
  margin: 0;
  padding: 0;
}

nav {
  background-color: greenyellow;
  padding: 20px 30px;
  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 40px;
  margin: 0;
}

.main-container {
  padding: 30px;
}

.calc-container {
  width: 280px;
  border: none;
  border-radius: 30px;
  padding: 30px 20px;
  background-color: rgb(155, 227, 255);
  box-shadow: 2px 2px 2px #666;
  margin: auto;
}

.display {
  min-height: 56px;
  border-radius: 6px;
  background-color: gainsboro;
  padding: 10px;
  font-size: 46px;
  text-align: end;
  margin-bottom: 16px;
  font-family: "WDXL Lubrifont TC", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: none;
  box-shadow: 1px 1px 5px #666 inset;
}

.display p {
  margin: 0px;
}

.btn-row {
  display: flex;
  gap: 10px;
  margin-bottom: 6px;
}

button {
  width: 64px;
  height: 64px;
  border-radius: 20px;
  font-size: 26px;
  font-family: "Varela", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: ghostwhite;
  border: none;
  box-shadow: 1px 1px 2px #666;
  cursor: pointer;
}

button:active {
  box-shadow: 1px 1px 2px #666 inset;
}

.clear-btn {
  background-color: greenyellow;
}

.operator-btn, .backspace-btn {
  background-color: rgb(248, 248, 182);
}

.equal-btn {
  background-color: pink;
}

.big-btn {
  width: 50%;
}